.social-toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.language-toast {
  height: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
