.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 4px;
}

.column {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex !important;
  margin-bottom: 4px;
}
