.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 4px;
}

.column {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  width: 100%;
  margin-bottom: 4px;
  overflow: hidden;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
}
