.pointer {
  cursor: pointer;
}

.title {
  font-size: 18px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.margin-y {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-x {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-l {
  margin-left: 20px;
}

.margin-t {
  margin-top: 10px;
}

.margin-b {
  margin-bottom: 40px;
}

.gray {
  color: lightgray;
}

.blur {
  filter: blur(20px);
}

.filter-jade {
  filter: invert(63%) sepia(50%) saturate(6672%) hue-rotate(128deg)
    brightness(96%) contrast(101%);
}

.filter-orange {
  filter: invert(54%) sepia(91%) saturate(2309%) hue-rotate(338deg)
    brightness(97%) contrast(95%);
}

.filter-pink {
  filter: invert(28%) sepia(65%) saturate(4651%) hue-rotate(306deg)
    brightness(99%) contrast(109%);
}
