.title:focus {
  outline: none;
}

.title {
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
}

.toast {
  width: calc(100vw - 62px);
  display: grid;
  align-items: center;
  text-align: center;
  padding: 5px 0;
}
