.title:focus {
  outline: none;
}

.title {
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
}


.toast {
  width: calc(100vw - 62px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}