.layout {
  width: 100vw;
  height: 100vh;
}

.header {
  position: fixed;
  height: 50px;
  z-index: 1;
}

.body {
  position: relative;
  height: calc(100% - 50px - 4px);
  top: 50px;
  padding: 0 4px;
  overflow: hidden;
}
