.body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-container {
  padding: 20px;
  overflow: scroll;
}

.table {
  width: 100%;
}

.image {
  width: 100%;
  height: calc(100vh - 200px);
  object-fit: cover;
}
