.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.image {
  max-width: 400px;
}

.filter-jade {
  filter: invert(63%) sepia(50%) saturate(6672%) hue-rotate(128deg)
    brightness(96%) contrast(101%);
}

.filter-orange {
  filter: invert(54%) sepia(91%) saturate(2309%) hue-rotate(338deg)
    brightness(97%) contrast(95%);
}

.filter-pink {
  filter: invert(28%) sepia(65%) saturate(4651%) hue-rotate(306deg)
    brightness(99%) contrast(109%);
}
